{% extends 'core/base.html' %}

{% block title %}4U - Gestão de Tempo e Produtividade{% endblock %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4 fw-bold text-primary">Sempre com você!</h1>
    <p class="lead text-secondary mt-3">Organize suas tarefas, acompanhe seu progresso e mantenha o foco nos estudos.
    </p>
    <div class="mt-4">
        <a href="{% url 'cadastro' %}" class="btn btn-primary btn-lg me-2">Criar Conta</a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg">Já tenho conta</a>
    </div>
</div>
{% endblock %}